{% load crispy_forms_tags %}

 {% block content %}
<form  method="post" class="Create-form" data-url="{%url 'add-post'%}" enctype="multipart/form-data" >

    {%csrf_token%}
    <div class="modal-header">
        <h5 class="modal-title center"> Create Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     <div class="modal-body">

        {{form|crispy}}

     </div>
     
    
    <hr/>

    <button type="submit" class="btn w-100 btn-large btn-block btn-primary">Post</button>
  




</form>


{% endblock %}

