{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row  mt-3">
        <div class="col-md-2"></div>

        <div class="col-md-6 col-sm-12 border-bottom mb-2">
           
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary show-form"  >
    What's on your mind?
  </button>




  <div class="modal fade" tabindex="-1" id="Post">
    <div class="modal-dialog">
      <div class="modal-content">
       
        
          
          
      
      </div>
    </div>
  </div>
  
                 {% for posts in post_items %}
                <div class="card mt-4 position-relative">
                    <h6 class="m-2">
                        <strong>{{posts.user.username}}</strong> {{posts.posted}}  
                    </h6>

                    <div class=" mt-2 ">
                        <h6 class="m-2">{{posts.caption}}</h6>

                        {% if posts.pictures%}

                        <img src="{{posts.pictures.url}}" class="card-img-top" alt="Responsive image"/>
                       {% endif %}

                      

                       </div>

                       <a href="{% url 'postdetail' posts.id %} " class="stretched-link"></a>
                    
                       
                    
                    
   </div>
                  {% endfor %}
                    



            </div>

        <div class="col-md-4"></div>

    </div>


</div>



{% endblock  %}
