{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">

    <div class="row  mt-3">
        <div class="col-md-2"></div>

        <div class="col-md-6 col-sm-12 border-bottom mb-2">
           

  
                
                <div class="card mt-4">
                    <h6 class="m-2">
                        <strong>{{post.user.username}}</strong> {{post.posted}}  
                    </h6>

                    <div class="img-wrapper  mt-2">
                        <h6 class="m-2">{{post.caption}}</h6>

                        {% if post.pictures%}

                        <img src="{{posts.pictures.url}}" class="card-img-top" alt="Responsive image"/>
                       {% endif %}
                       </div>
                    </div>
                    {% for comments in comment %}
                   <div class="pt-2">
                    <div class="pt-2" >
                      <strong>{{comments.user.username}}</strong>
                        <p> {{comments.body}}</p>
                        
                        <small>{{ comments.created}}</small>
                      </div>
                      {% endfor %}
                      <form action="" method="post" class="m-2">
                        {% csrf_token %}
                      
                        <div class="form-group">
                          <div class="p-2">
                            {{form.as_p}}
                          </div>
                          
                        <button type="submit" name="action" class="btn btn-light">Comment</button>
                          
                        </div>
                      
                        
                      
                      </form>

                    </div>
    
                    </div>

                    

        <div class="col-md-4">


        </div>

    </div>


</div>



{% endblock  %}
